footer{

    .espacio{
        background-color: $color-body;
        width: auto;
        height: 10rem;
        }
    .contenedor-footer{
        width: 100vw;
        height: 70vh;

        .caja-ig{
            
            .ig{
                height: 30vh;
                background-color: $col-blanco;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 2rem;
                
                    .ig-redes{
                        text-decoration: none;
                        color: $col-negro;
                        font-family: 'Poppins', sans-serif;
                        font-weight: weight(light);
                        & :hover{
                            color: $bg-segundo;
                            transition: all 0.2s ease-in-out;    
                            }
            }
        }

    }

    .section-nav{
        background-color: #EAEAEA;
        height: 40vh;
        .caja-nav{
            .navegador{
                text-align:left;
                padding-top: 2rem;
                margin-left: 1rem;
                text-decoration: none;
                list-style-type: none;
                color: $col-negro;
                font-family: $ff-secondary;
                font-weight: weight(light);
                    .nav-footer{
                        margin-top: 0.5rem;
                        .text-enlace{
                            text-decoration: none;
                            color: black;
                            font-family: $ff-secondary;
                            font-weight: weight(light);
                            &:hover{
                                color: $bg-segundo;
                                transition: all 0.2s ease-in-out;
                                }
                        }
                    }    
            
                }
            }
    
        .caja-redes{
            margin-top: 2rem;
            margin-left: 1rem;
            .redes{
                text-decoration: none;
                list-style-type: none;
                display: flex;
                gap: 1rem;
        

            }
        }        
    }    
}

















}



