footer{
    background-color: $col-blanco;
    
    .caja-ig{
        margin-top: $medida-px;
        margin-left: 30px;
    }
        .ig{
            background-color: $col-blanco;
            height:auto;
            width: 100%;
            display: map-get($usadas,"flex");
            flex-direction: column;
            gap: $medida-px;
            
        }
            .ig-redes{
                @extend %text;
                height: 50%;
                width: 100%;
                color: $col-negro;
                margin-top: $medida-px;
                
                
            }
            .text-ig{
                @include flexible (flex, center);
                display: map-get($usadas,"center");
                color: $col-negro;
                gap: 20px;
            
            }
    .caja-nav{
        gap: $medida-px;
        margin-left: $medida-px;
    }
        .navegador{
            margin-top: 10px;
            margin-bottom: 10px;
        }
            a{
            @extend %text;
            color: $col-negro;
        }
            .nav-footer{
                margin-top: 10px;
                margin-bottom: 10px; 
                @extend %text;
            }
            
    .caja-redes{
        display: map-get($usadas,"flex");
        margin-left: 10px;

    }
        .redes{
            margin-top: 10px;
            display: flex;
            gap: $medida-px;
            @extend %text;
        }
            .redes-sociales{
            @extend %text;
            }  
    
}
