
header {
        .cartel-envio {
            background-color:$cartel-envio;
            width:100vW;
            @include flexible(flex , center);
                .cartel-p{
                    font-size: 0.8rem;
                    text-align: center;
    
                    
                 
                }
        }
        .container-logo{
            background-color: $caja-logo;
            width: 100vw;
            height: auto;
            @include flexible(flex, center);
            box-shadow: -2px -6px 18px -1px rgba(126,97,215,0.71);
            -webkit-box-shadow: -2px -6px 18px -1px rgba(126,97,215,0.71);
            -moz-box-shadow: -2px -6px 18px -1px rgba(126,97,215,0.71);
        }
        .logo{
            width: 60px;
            height: 60px;
            margin-top: $medida-px;
            margin-bottom: $medida-px;
            @include flexible(flex, center);
            }

        .navbar{
            background-color:rgba(103, 111, 224, 0.705);
            box-shadow: -3px 4px 9px -1px rgba(126,97,215,0.71);
            -webkit-box-shadow: -3px 4px 9px -1px rgba(126,97,215,0.71);
            -moz-box-shadow: -3px 4px 9px -1px rgba(126,97,215,0.71);
            }
            .container-fav{
                margin-left: 20px;
                display: map-get($usadas,"flex");
                gap: $medida-px;
                
            }   
            .enlace{
                text-decoration-line: none;
                color:$caja-logo ;  
                }
        .container-log{
            display: map-get($usadas,"flex");
            margin-right: 30px;
            gap: $medida-px;
        }    
                
            
}
