@media (max-width: 767px) {
.containerCards {
    grid-template-columns: repeat(2,1fr) !important;
    grid-template-rows: repeat(2,1fr) !important;
}
}
@media (max-width: 1018px){
    .caja-ig{
        .ig{
            .text-ig{
                font-size: $fs-quinto;
                text-align: center;
            }
            
        }
    }
}

@media (max-width: 350px){
    .cartel-p{
        display: none;
    }
}

