
$cartel-envio: #EFE2FC;
$caja-logo: #7E61D7;
$color-body: #EFE2FC;
$col-blanco:#fff;
$col-negro:#000;
$medida-px:20px;

// colores
// fondo
$bg-primero: #EFE2FC;
$bg-segundo: #7E61D7;
$bg-tercero: rgb(27, 27, 27);
$bg-h1: #d8d8d8;
$bg-footer: #EAEAEA;

$col-negro:#000;
// letras
$col-blanco:#fff;
$clr-primero: #fff;
$clr-segundo: #d4d4d4;
$clr-tercero: rgb(27, 27, 27);
$clr-cuarto: #000;
$clr-quinto: #000;

// size
$medida-px:20px;

// font-size
$fs-h1: 3.75rem;
$fs-titles: 3.125rem;
$fs-primero: 2.5rem;
$fs-segundo: 1.875rem;
$fs-tercero: 1.25rem;
$fs-cuarto: 1.125rem;
$fs-quinto: 0.938rem;

// font-family
$ff-primary: 'Aleo', serif;
$ff-secondary: 'Roboto', sans-serif;


// font-weight
$font-weight: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 600,
    "bolder": 700
);



